<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libraryproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookActivity"
            android:label="@string/activity_book"></activity>
        <activity android:name=".WebSiteActivity" />
        <activity android:name=".FavoriteBooksActivity"
            android:label="@string/activity_favorite_book"/>
        <activity android:name=".WantToReadActivity"
            android:label="@string/activity_want_to_read"/>
        <activity android:name=".CurrentlyReadingActivity"
            android:label="@string/activity_currently_reading"/>
        <activity android:name=".AlreadyReadBooksActivity"
            android:label="@string/activity_already_read_books"/>
        <activity android:name=".AllBooksActivity"
            android:label="@string/activity_all_books"/>
        <activity android:name=".MainActivity2" />
        <activity android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>